.btn {
  outline: 0;
  display: inline-block;
  color: #ffffff;
  padding: 9px 12px 9px 12px;
  font-size: 1.2rem;
  background-color: $mainAccent;
  border: 0;
  border-radius: .3rem;
  text-shadow: none;
  position: relative;
  text-align: center;
  
  transition: all .2s ease-in;

  &--centered {
    margin: auto;
  }

  &--text-only {
    display: inline-block;
    background-color: transparent;
    font-weight: bold;
    color: $mainAccent;
  }

  &--form {
    font-size: 1rem;
    display: block;
    margin: auto;
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--outline {
    background: transparent;
    font-weight: bold;
    border: solid 2px $mainAccent;;
    color: $mainAccent;
    margin: .5rem;
  }

  &&--outline-white {
    background: transparent;
    font-weight: bold;
    border: solid 2px $mainWhite;
    color: $mainWhite;
    /* margin: auto; */
    margin-top: .6rem;
    margin-bottom: .6rem;
  }

  &--opened {
    
    .btn__icon-open {
      opacity: 0;
    }
    .btn__icon-close {
      opacity: 1;
    }
  }

  &__icon-open {
    transition: opacity .3s ease-out;
    opacity: 1;
  }

  &__icon-close {
    transition: opacity .3s ease-out;
    position: absolute;
    margin-left: 3px;
    margin-top: 2px;
    /* left: 13px; */
    /* top: 9px; */
    opacity: 0;
  }

  &:hover, &:active, &:focus {
    transform: scale(1.1);
    z-index: 3;
    cursor: pointer;
  }

  &:active {
    outline: 0;
  }

}
