.btn {
  color: #ffffff;
  padding: 7px 10px 7px 10px;
  font-size: 1.2rem;
  background-color: $mainAccent;
  border: 0;

  transition: all .2s ease-in;

  &--form {
    font-size: 1rem;
    display: block;
    margin: auto;
    border: solid #ff6666 2px;
  }

  &--blue {
    background-color: $mainBlue;
  }

  &:hover {
    transform: scale(1.1);
    z-index: 3;
  }
}
