.card {
    padding: 0;
    display: flex;
    background-color: rgba(255, 255, 255, .3);
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;

    &__image {
        flex: 1;
    }

    &__content {
        flex: 2;
        padding: 2rem;
    }
}