.card {
    padding: 0;
    display: flex;
    background-color: rgba(255, 255, 255, .6);
    flex-direction: column;
    align-items: center;
    margin: 35px auto 35px auto;
    max-width: 100%;
    overflow: hidden;
    transition: all .2s ease-out;
    
    @mixin atMedium {
        flex-direction: row;
    }


    &:hover{
        background-color: rgba(255, 255, 255, 1);
    }

    &__image {
        order: -1;
        max-width: 100%;
        // min-height: 335px;
        position: relative;
        align-self: stretch;
        // overflow: hidden;
        // background-color: orange;
        
        @mixin atMedium {
            min-width: 335px;
            mi-height: 335px;
            order: 0;
        }

        img{
            min-width: 100%;
            min-height: 100%;

            @mixin atMedium {
                position: absolute;
                object-fit: cover;
            }
        }
    }

    &__title {
        text-align: center;
        font-family: 'Roboto Slab', serif;
        margin-bottom: 5px;
    }

    &__content {
        flex: 1.8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        padding: 10px 25px 25px 25px;

        @mixin atMedium {
            margin: 15px 80px 15px 80px;
            padding: 10px 25px 20px 25px;
        }
    }

}