.card {
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  margin: 35px 25px 0px 25px;
  max-width: 100%;
  overflow: hidden;
  transition: all 0.2s ease-out;

  @mixin atMedium {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0;
    flex-direction: row;
    margin: 35px 10px 0px 10px;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  &__image {
    order: -1;
    max-width: 100%;
    // min-height: 335px;
    position: relative;
    align-self: stretch;
    // overflow: hidden;
    // background-color: orange;

    @mixin atMedium {
      min-width: 335px;
      min-height: 335px;
      order: 0;
    }

    img {
      min-width: 100%;
      min-height: 100%;

      @mixin atMedium {
        position: absolute;
        object-fit: cover;
      }
    }
  }

  &__title {
    text-align: center;
    font-family: "Roboto Slab", serif;
    margin-top: 5px;
    margin-bottom: 5px;
    &--light {
      font-weight: 400;
    }
    @mixin atMedium{
      margin-top: 20px;
    };
  }

  &__content {
    flex: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    // max-width: 300px;
    padding: 10px 25px 25px 25px;

    @mixin atMedium {
      margin: 15px 80px 15px 80px;
      padding: 10px 25px 20px 25px;
    }

    &--wide {
      margin: 15px 0px 0px 0px;
    }
  }

  &__embed {
    min-height: 350px;
    height: 100%;
    width: 100%;
  }

  &--narrow {
    max-width: 100%;
    overflow: visible;
    @mixin atMedium {
      max-width: 60%;
    }
  }

  &--pair {
    @mixin atMedium {
      max-width: 40%;
    }
  }

  &--flex {
    @mixin atMedium {
      flex: 1;
      max-width: 45%;
    }
  }

  &--purple {
    background-color: rgba(153, 102, 204, 0.8);
    color: #fff;

    &:hover {
      background-color: rgba(153, 102, 204, 1);
    }
  }

  &--teal {
    background-color: rgba($boxTeal, 0.8);
    color: #fff;

    &:hover {
      background-color: rgba($boxTeal, 1);
    }
  }

  &--quote {
    margin-top: 5rem;
    padding-top: 2.5rem;

    @mixin atMedium {
      margin: 35px auto 35px auto;
      padding: 0;
    }
  }

  &__icon {
    color: black;
    position: absolute;
    font-size: 8em;
    padding: 0;
    height: 6rem;
    width: 6rem;
    background-color: white;

    padding-top: 10px;
    padding-left: 23px;

    border-radius: 50%;

    &--left {
      left: -3rem;
      display: none;
      @mixin atMedium {
        display: block;
      }
    }

    &--right {
      top: -3rem;

      @mixin atMedium {
        right: -3rem;
        top: auto;
      }
    }
  }
}
