.content-column {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  &__title {
    font-family: "Roboto Slab", serif;
    padding-top: 10px;
    text-align: center;

  }

  &__input {
    background-color: #eeeeee;
    display: block;
    width: 100%;
    margin: auto;
    border: none;
    padding: .7rem .7rem .7rem .7rem;
    margin-bottom: 1rem;
  }

  textarea {
    resize: none;
    height: 8rem;
  }

  &__inner-scroll{
    // scroll: hidden;
    height: 300px;
    overflow-y: scroll;
  }

  &__icons{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 5rem;
    color: $mainBlue;
    align-self: center;
    justify-self: center;
  }

  @mixin atMedium {
    width: 33%;
  }
}
