.content-column {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  order: 1;

  &__title {
    font-family: "Roboto Slab", serif;
    padding-top: 10px;
    text-align: center;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__input {
    background-color: #eeeeee;
    display: block;
    width: 100%;
    margin: auto;
    border: none;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    margin-bottom: 1rem;
  }

  textarea {
    resize: none;
    height: 8rem;
  }

  &__inner-scroll {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &__icons {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  &__icon {
    font-size: 5em;
    color: $mainBlue;
    
    &--small {
      font-size: 2em;
    }
  }

  &__links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;
    padding-bottom: 25px;
    padding-top: 15px;
    color: $mainBlue;
    font-size: 1.5em;
    font-weight: 600;

    &:hover{
      color: $mainAccent;
    }
  }

  @mixin atMedium {
    width: 33%;
  }

  &--feed {
    order: 3;

    @mixin atMedium {
      order: 3;
    }
  }

}
