.headline{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 100;
    font-size: 1.3rem;
    color: $mainText;
    line-height: 2.2rem;

    margin: 2.5rem auto 1.5rem auto;

    strong {
        line-height: 0;
        color: $mainText;
        font-family: 'channelregular', 'Roboto Slab', serif;
    }

    @mixin atMedium {
        margin-bottom: 0;
        font-size: 2rem;
        line-height: 2.6rem;
    }

    &--extra-margin {
        @mixin atMedium {
            margin-bottom: 58px;
        }
    }

}