.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &__logo {
        height: 140px;
        padding: 15px 15px 10px 20px;
        display: inline-block;
    }

}