.header {

    position: relative;
    height: 110px;
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    background-color: #fff;

    @mixin atMedium {
        align-items: flex-end;
        justify-content: space-between;
        position: fixed;
        background-color: #ffffff;
        width: 100%;
        z-index: 5;
        top: 0;
        height: 145px;
        transition: all .2s ease-out;

        &--reduced {
            height: 60px;
            background-color: rgba(255, 255, 255, .85);
        }
    }

    &__logo {
        display: block;
        height: 100%;
        padding: 15px 15px 10px 15px;

        img{
            max-width: 100%;
            max-height: 100%;
        }

        @mixin atMedium {
            padding: 15px 15px 10px 20px;
            display: inline-block;
        }
    }

    &__menu-button {
        font-size: 2rem;
        visibility: visible;
        margin-right: 15px;

        @mixin atMedium {
            display: none;
        }

    }

    .primary-nav {
        display: none;

        @mixin atMedium {
            display: block;
        }
    }

}
