.headline{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 100;
    color: $mainText;
    line-height: 2.2rem;

    margin: 2.5rem auto 2.5rem auto;

    strong {
        line-height: 1rem;
        color: $mainText;
        font-family: 'channelregular', serif;
    }
}