.large-hero {
    background-image: url('/assets/images/home-hero-1.jpg');
    background-size: cover;
    background-origin: padding-box;

    height: 625px;
    text-align: center;
    border-bottom: solid $mainBlue 10px;
    padding-top: 365px;
    margin-top: 140px;

    &__headline {
        font-family: 'Roboto Slab', serif;
        color: #fff;
        margin-bottom: 50px;
        font-size: 4em;
        font-weight: 400;
        text-shadow: 2px 2px rgba(0,0,0,.3);
    }
}