.large-hero {
    
    background-image: url('../../assets/images/home-hero-1.jpg');
    background-size: cover;
    background-origin: padding-box;
    background-position: center top;
    text-align: center;
    border-bottom: solid $mainBlue 10px;
    padding: 0;
    
    height: 385px;

    &__headline {
        font-family: 'Roboto Slab', serif;
        color: #fff;
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: 400;
        margin-top: 0;

        padding-top: 190px;
    
        &--small {
            padding-top: 0;
            font-size: 1.5rem; 
        }
    }

    @mixin atMedium {

        height: 625px;
        padding-top: 225px;
        padding-bottom: 80px;

        &__headline {
            margin-bottom: 30px;
            font-size: 4em;

            &--small {
                font-size: 2rem; 
            }
        }
    }

    &--classes-infant-toddler {
        background-image: url('../../assets/images/classes-infant-toddler-hero.jpg');
        background-position: center center;
    }

    &--classes-preschool-prep {
        background-image: url('../../assets/images/classes-preschool-prep-hero.jpg');
        background-position: center center;
    }

    &--classes-preschool {
        background-image: url('../../assets/images/classes-preschool-hero.jpg');
        background-position: center center;
    }

    &--classes-grade-school {
        background-image: url('../../assets/images/classes-grade-school-hero.jpg');
        background-position: center center;
    }

    &--locations-highland-park {
        background-image: url('../../assets/images/locations-highland-park-hero.jpg');
        background-position: center center;
    }

    &--locations-lincoln-park {
        background-image: url('../../assets/images/locations-lincoln-park-hero.jpg');
        background-position: center center;
    }

    &--locations-river-north {
        background-image: url('../../assets/images/locations-river-north-hero.jpg');
        background-position: center center;
    }

    &--locations-west-loop {
        background-image: url('../../assets/images/locations-west-loop-hero.jpg');
        background-position: center center;
    }

    &--parties-and-events {
        background-image: url('../../assets/images/parties-and-events-hero.jpg');
        background-position: center center;
    }
}