.large-hero {
    
    background-image: url('../../assets/images/home-hero-1.jpg');
    background-size: cover;
    background-origin: padding-box;
    background-position: center top;
    text-align: center;
    border-bottom: solid $mainBlue 10px;
    padding: 0;
    
    height: 385px;

    &__headline {
        font-family: 'Roboto Slab', serif;
        color: #fff;
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: 400;
    
        &--small {
            font-size: 1.5rem; 
        }
    }

    @mixin atMedium {

        height: 625px;
        padding-top: 365px;
        padding-bottom: 80px;

        &__headline {
            margin-bottom: 30px;
            font-size: 4em;

            &--small {
                font-size: 2rem; 
            }
        }
    }

    &--classes-infant-toddler {
        background-image: url('../../assets/images/classes-infant-toddler-hero.jpg');
    }
}