.offerings {
    
    margin-bottom: 40px;
    display: flex;
    flex-flow: row wrap;

    @mixin atMedium {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
}