.primary-nav {
  margin-bottom: -2px;

  li {
    list-style: none;
    padding-right: 15px;
    display: inline-block;
    position: relative;
  }

  li:last-child {
    margin-right: 10px;
  }

  &__drop-menu {
    z-index: 5;
    color: $mainBlue;
    border-top: solid 2px $mainBlue;
    background-color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;

    position: absolute;
    text-decoration: none;
    padding: 10px 25px 25px 25px;
    min-width: 225px;
    left: -25px;
    top: 39px;

    &::before {
      z-index: 1;
      content: "";
      position: absolute;
      top: -30px;
      bottom: -30px;
      left: -30px;
      right: -30px;
    }

    li {
      margin-top: 15px;
    }
  }

  &__drop-menu li {
    display: list-item;
    z-index: 5;
  }

  &__drop-link {
    z-index: 6;
  
    &--current{
      font-weight: 600;
    }
  }

  &__drop-link:hover {
    a {
      color: $mainAccent;
    }
    svg {
      color: $mainAccent;
    }
  }

  &__drop-link:hover ul li a {
    color: $mainBlue;
  }

  &__drop-link:hover > ul {
    // display: inherit;
    visibility: visible;
    opacity: 1;
  }

  &__drop-link ul li a:hover {
    color: $mainAccent;
  }

  svg {
    color: $mainText;
  }

  &__active {
    // transform-origin: bottom center;
    // transform: scale(1.1);
    position: absolute;

    a {
      color: $mainAccent;
    }

    svg {
      color: $mainAccent;
    }
  }
}
