.row {
    
    display: flex;
    flex-direction: column;

    @mixin atMedium {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem;
    }

    &--small {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        padding: 10px 0 10px 0;
        flex-wrap: wrap;

        @mixin atMedium {
            padding: 1rem;
        }
    }

    &--spread {
        @mixin atMedium {
            justify-content: space-between;
            padding: 1em 0 1em 0;
        }
    }
}