<!-- Begin Footer Content -->

<section id="contact" class="row page-section" data-matching-link="#contact-link">
    <div class="content-column">
        <h1 class="content-column__title">Contact Us</h1>
        <div class="content-column__links">

            <a href="#" target=blank class="content-column__link">
                <i class="fas fa-envelope"></i>
                <span>info@stageschicago.com</span>
            </a>

            <a href="#" target=blank class="content-column__link">
                <i class="fas fa-phone"></i>
                <span>(630)555-5555</span>
            </a>
        </div>


    </div>

    <div class="content-column content-column--feed">
        <h1 class="content-column__title">#thisweekatstages</h1>
        <div class="content-column__inner-scroll">
            <div id="pixlee_container"></div>
            <script type="text/javascript">
                window.PixleeAsyncInit = function () {
                    Pixlee.init({
                        apiKey: 'B5uJ04cBdBFP8Cxb8dE4'
                    });
                    Pixlee.addSimpleWidget({
                        widgetId: '5468'
                    });
                };
            </script>
            <script src="//instafeed.assets.pixlee.com/assets/pixlee_widget_1_0_0.js"></script>
        </div>
        <script async defer src="//www.instagram.com/embed.js"></script>
    </div>

    <div class="content-column">
        <h1 class="content-column__title">Follow Us</h1>
        <div class="content-column__content">
            <div class="content-column__icons">
                <a href="https://www.facebook.com/stageschicago/" target=blank>
                    <i class="fab fa-facebook content-column__icon"></i>
                </a>
                <a href="https://www.instagram.com/stageschi/" target=blank>
                    <i class="fab fa-instagram content-column__icon"></i>
                </a>
                <a href="https://twitter.com/stageschi" target=blank>
                    <i class="fab fa-twitter content-column__icon"></i>
                </a>
            </div>
        </div>
    </div>

</section>

<footer class="footer">
    <span>&copy; 2019 Stages Chicago</span>
</footer>